.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
    .col-1-of-2 {
        width: 40%;
    }

    .col-1-of-4 {
        width: 20%;
    }
    .col-1-of-3 {
        width: 25%;
    }
}
